.car-show{
    position: relative;
    border: 1px soid lightblue;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 1px 3px 4px lightblue;
}

.car{
    width: 350px;
    
}

.heart{
   
    position: absolute;
    bottom: 10%;
    right: 10%;
}